users:
  - username: REPLACE_WITH_YOUR_USERNAME
    name: REPLACE
    groups: ['sudo']
    shell: /usr/bin/zsh
    uid: 1001
    password: REPLACE_WITH_A_HASH
    ssh_key:
      - "ssh-rsa AAAAB..."
      - "ssh-rsa AAAAB..."
